<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>ru.kovpas.turbofilmtv</string>
	<key>connections</key>
	<dict>
		<key>2A0143E9-9EB5-435A-B596-2D95614415AF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46C9E2C4-6E57-4C12-90C3-3BEE542C81AE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>46C9E2C4-6E57-4C12-90C3-3BEE542C81AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E7732BFC-3240-4648-A5E2-0743572CD8BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8A9B76AF-D924-4B32-B395-32F72305560A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>469653E7-3387-4A26-A79C-027CDF5AD0E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Pavel Mazurin</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Turbofilm.tv</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Turbofilm.tv Authentication</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E7732BFC-3240-4648-A5E2-0743572CD8BA</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>tfauth</string>
				<key>subtext</key>
				<string>Enter credentials &lt;user&gt; &lt;password&gt;</string>
				<key>text</key>
				<string>Turbofilm.tv authentication</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2A0143E9-9EB5-435A-B596-2D95614415AF</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>python login.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>46C9E2C4-6E57-4C12-90C3-3BEE542C81AE</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>tfmy</string>
				<key>runningsubtext</key>
				<string>Fetching list...</string>
				<key>script</key>
				<string>python fetch.py "{query}"</string>
				<key>subtext</key>
				<string>Shows a list of favorite series or a list of episodes of selected series</string>
				<key>title</key>
				<string>Turbofilm.tv my series list</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8A9B76AF-D924-4B32-B395-32F72305560A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>469653E7-3387-4A26-A79C-027CDF5AD0E4</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2A0143E9-9EB5-435A-B596-2D95614415AF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>469653E7-3387-4A26-A79C-027CDF5AD0E4</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>46C9E2C4-6E57-4C12-90C3-3BEE542C81AE</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8A9B76AF-D924-4B32-B395-32F72305560A</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E7732BFC-3240-4648-A5E2-0743572CD8BA</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>kovpas.ru</string>
</dict>
</plist>
